@import "helpers";

main {
  #aboutMe {
    height: calc(100vh - $header-height);
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 20px;

    background-color: $primary-light;
  }
}
