@import "helpers";

main {
  #aboutMe {
    text-align: center;

    height: calc(100vh - $header-height);
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 20px;

    background-color: $primary-light;

    picture {
      max-width: 900px;
    }
  }
}
