@import "helpers";
@import "navbar";

header {
  padding: 20px 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: $header-height;
  background-color: brown;

  h1 {
    font-size: 20px;
  }
}
