@import "helpers";
@import "navbar";

header {
  position: sticky;
  top: 0;

  padding: 20px 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: $header-height;
  background-color: $primary-dark;
  color: $primary-light;
  z-index: 1;

  h1 {
    font-size: 20px;
  }

  .left,
  .right {
    flex-grow: 1;
    flex-basis: 0;
  }

  .right {
    display: flex;
    justify-content: right;
  }
}
