$header-height: 80px;

.no-bullets {
  list-style: none;
}

.no-display {
  display: none;
}

@mixin hidden {
  opacity: 0;
  height: 0;
  overflow: hidden;
}

@mixin visible {
  opacity: 1;
  height: auto;
  overflow: hidden;
}
