$header-height: 80px;

$primary-light: #f9f7f7;
$primary-dark: #112d4e;
$secondary-light: #dbe2ef;
$secondary-dark: #3f72af;

.no-bullets {
  list-style: none;
}

.no-display {
  display: none;
}

@mixin hidden {
  opacity: 0;
  height: 0;
  overflow: hidden;
}

@mixin visible {
  opacity: 1;
  height: auto;
  overflow: hidden;
}

.container {
  display: flex;
  flex-direction: column;
  gap: 12px;
}
