@import "helpers";

#myStack {
  text-align: center;
  .container {
    max-width: 100%;
    margin: auto;

    ul {
      margin-top: 20px;
      display: flex;
      flex-direction: row;
      justify-content: center;
      flex-wrap: wrap;
      gap: 30px;

      li {
        flex: 0 1 auto;
        max-width: 100px;
      }
    }
  }
}
