@import "helpers";

nav {
  .dropdown-menu {
    transform: scaleY(0);
    height: 0;
    position: absolute;
    top: $header-height;
    background-color: black;
    color: white;
    text-align: center;
    left: 0;
    width: 100%;
    z-index: 0;
    transform-origin: top;
    transition: transform 400ms ease-in-out;
  }

  .menu-control {
    border: 0;
    background-color: white;
    padding: 5px;
  }

  .dropdown-menu.visible {
    height: auto;
    transform: scaleY(1);
  }
}
