@import "helpers";

nav {
  .dropdown-menu {
    transform: scaleY(0);
    height: 0;
    opacity: 0;
    position: absolute;
    top: $header-height;
    background-color: rgba($color: #000000, $alpha: 0.5);
    color: $primary-light;
    text-align: center;
    left: 0;
    width: 100%;
    z-index: 0;
    transform-origin: top;
    transition: transform 400ms ease-in-out;

    li {
      padding: 5px;
      transition: background-color 0.2s ease-in-out;
    }

    li:hover {
      background-color: $secondary-dark;
      cursor: pointer;
    }

    display: flex;
    flex-direction: column;
    gap: 6px;
    padding: 5px 0;
  }

  .menu-control {
    border: 0;
    background-color: white;
    max-width: 3em;
    padding: 5px;
  }

  .dropdown-menu.visible {
    opacity: 1;
    height: auto;
    transform: scaleY(1);
  }
}

@media (min-width: 1024px) {
  nav {
    .dropdown-menu {
      position: static;
      width: 100%;
      transform: none;
      opacity: 1;
      height: auto;
      background-color: transparent;

      flex-direction: row;
      gap: 30px;
    }

    .menu-control {
      display: none;
    }
  }
}
