@import "reset";
@import "header";
@import "mainSection";
@import "myProjects";
@import "footer";
@import "helpers";

* {
  font-family: "Roboto";
  scroll-behavior: smooth !important;
}

img {
  width: 100%;
  display: block;
}

section {
  padding: $header-height 20px;
}

h1 {
  font-size: 2.25em;
}
