@import "reset";
@import "header";
@import "mainSection";
@import "myProjects";
@import "footer";

* {
  font-family: "Roboto";
}

img {
  width: 100%;
  display: block;
}

section {
  padding: 50px 20px;
}

h1 {
  font-size: 2.25em;
}
